.window_root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.window_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    background-color: rgba(0, 0, 0, 0.7);
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal_container {}
